@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #facc15 !important;
}

.slide-in {
  animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.swiper-slide-active .slide-in {
  animation: slideIn 0.8s forwards;
}

.swiper-slide:not(.swiper-slide-active) .slide-in {
  animation: none;
  transform: translateY(10px);
  opacity: 0;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form div {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    min-height: 150px;
}

.contact-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.status-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}